<div style="font-family: sans-serif;">
    <h2 style="color: #222;">Welcome <%= username %></h2>
    <p style="color:  #555;">you are send request to your email</p>
    <a href="<%= link %>">please enter here to verify your account</a>
    <h4 style="color: #500">Note:</h4>
    <p style="color: #555;">the link is work until one hour after this time</p>
</div>